nav {
   position: sticky;
   background-color: white;
   .nav__link {
      background-color: transparent;
      border: none;
      transition: all 0.3s;
      &:hover {
         //letter-spacing: .9px;
         text-decoration: underline;
      }
   }
}

.profileIcon {
   width: 30px;
   height: 30px;
}
