

@import './variables.scss';
@import './global';
@import './components/navigation';


.particles{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
}

.hide{
    display: none;
}

.main{
    padding: 60px 0;

}

.form-container{

    max-width: 600px;
    min-width: 300px;
    display: flex;
    padding: 30px 45px;
    box-shadow: $dark-shadow;
    border-radius: 9px;
    background: linear-gradient(120deg, rgb(145, 218, 195), rgb(184, 235, 219));

    input{
        width: 100%;
        border: none;
        border-right: 2px solid rgb(145, 218, 195);

    }
    button{
        padding: 3px 20px;
        background-color: white;
        color: rgb(145, 218, 195);
        border: none;
    }

    button:active{
        transform: scale(.96);
    }
}

.register-form{
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    animation: scale .3s ease-out;

}

@keyframes scale{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.form-control {
	border: 1px solid #ccc;
	border-radius: 0;
	background: none;
	&:active, &:focus {
		outline: none;
		box-shadow: none;
		border-color: #000;
        background-color: rgba(0, 0, 0, 0.1);
	}
}

._btn{
    padding: 3px 15px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    transition: all .3s;
}

._btn:hover{
    transform: scale(1.05);
}